<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Lauver.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>9</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>04EE2C7394F5F8FF0C0877D837FEE3B2ACD96E9C</string>
				<key>dateExpires</key>
				<string>9/21/27</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>94KFUD562T.ai.lauver.app.release</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.healthkit</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>94KFUD562T</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Lauver.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>b546b635-44fc-48c1-89ac-a7f3191c1e6b</string>
				<key>dateExpires</key>
				<string>9/21/27</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: ai.lauver.app.release</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>94KFUD562T</string>
				<key>name</key>
				<string></string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
